###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ibraryA/
[Ll]ibraryW/
[Ll]ibraryB/
[Ll]ibraryC/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Tt]emp/
[Uu]nityGenerated/
AndroidBuilds/
WindowsBuilds/
_AssetBundles/
.vs/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta
###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
VRShopping/Assets/Oculus/VR/Textures/Icons.meta
VRShopping/Assets/Resources/ONSPSettings.asset
VRShopping/UserSettings/EditorUserSettings.asset
VRShopping/Assets/Resources/ONSPSettings.asset.meta
VRShopping/Assets/Oculus/VR/Textures/Icons.meta
VRShopping/UserSettings/EditorUserSettings.asset
OscUnityToUnreal/Assets/TextMesh Pro/Sprites/EmojiOne.json
OscUnityToUnreal/Packages/manifest.json
OscUnityToUnreal/Packages/packages-lock.json
OscUnityToUnreal/ProjectSettings/SceneTemplateSettings.json
